config_env :development do
  set 'APP_SECRET_KEY', ''
  set 'MSG_KEY', ''
  set 'API_HOST', ''
  set 'APP_HOST', ''
  set 'GH_CLIENT_ID', ''
  set 'GH_CLIENT_SECRET', ''
end

config_env :production do
  set 'APP_SECRET_KEY', ''
  set 'MSG_KEY', ''
  set 'API_HOST', ''
  set 'APP_HOST', ''
  set 'GH_CLIENT_ID', ''
  set 'GH_CLIENT_SECRET', ''
end

config_env do
  set 'SENDGRID_DOMAIN', ''
  set 'SENDGRID_USERNAME', ''
  set 'SENDGRID_PASSWORD', ''
  set 'GH_SSO_URL', ''
  set 'GH_SCOPE', ''
end
